<%# coding: utf-8 %>
<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>TwinCal</title>
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/validation.js"></script>
    <link rel="shortcut icon" href="favicon.png">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .page-header {
        margin-top: 30px;
      }
      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 80px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 100px;
        line-height: 1;
      }
      .jumbotron .lead {
        font-size: 24px;
        line-height: 1.25;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      /* Customize Navbar */
      .navbar-inner {
        background-color: #ffffff;
        background-image: -moz-linear-gradient(top, #ee5555, #ee4444);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5555), to(#ee4444));
        background-image: -webkit-linear-gradient(top, #ee5555, #ee4444);
        background-image: -o-linear-gradient(top, #ee5555, #ee4444);
        background-image: linear-gradient(to bottom, #ee5555, #ee4444);
        background-repeat: repeat-x;
        border-color: #ee5555;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ee5555', endColorstr='#ff444', GradientType=0);
      }
      .navbar .brand,
      .navbar .nav > li > a,
      .navbar .nav > li > a:focus,
      .navbar .nav > li > a:hover { 
        text-shadow: none;
        color: #ffffff;
      }
      .navbar .nav > li > a:hover { 
        text-decoration: underline;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">TwinCal</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="#step1">Main</a></li>
              <li><a href="#tweets">Tweets</a></li>
              <li><a href="#faq">FAQ</a></li>
              <li><a href="#attention">Attention</a></li>
              <li><a href="#updates">Updates</a></li>
              <li><a href="#other">Other</a></li>
              <li><a href="http://gam0022.net">Blog</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="jumbotron">
        <h1>TwinCal</h1>
        <p class="lead">Twinsの履修情報から、Googleカレンダー・iCalの時間割を作成するWebサービスです。</p>
        <p class="lead">KdBから、教室番号、単位数、科目番号などを自動的に取得します。</p>
        <a class="btn btn-large btn-success" href="#step1">Get started</a>
      </div>

      <!--div class="well" id="info" style="max-width:600px;margin: 0 auto;">
      <a class="close" data-dismiss="alert" href="#">×</a>
      <p>
        <span class="label label-info">Info</span>
        <a href="http://acaric-valuator.com/event/studentappcontest2013/">学生のためのアプリ開発コンテスト</a>のために特設ページを用意しました。
      </p>
      <p><a class="btn" href="acaric-studentappcontest2013.html">TwinCal - 学生のためのアプリ開発コンテスト特設ページ »</a></p>
    </div>

    <hr-->

    <section id="step1">
      <div class="page-header">
        <h2><small>Step1</small> TwinsからCSVをダウンロードする</h2>
      </div>
      <div class="row">
        <div class="span3">
          <h3><small>1.1</small> Twinsにログイン</h3>
          <img src="img/step1-1.png">
          <p><a class="btn" href="https://twins.tsukuba.ac.jp">Twins &raquo;</a></p>
        </div>
        <div class="span3">
          <h3><small>1.2</small> 履修登録・登録状況照会</h3>
          <img src="img/step1-2.png">
        </div>
        <div class="span3">
          <h3><small>1.3</small> ダウンロード</h3>
          <img src="img/step1-3.png">
        </div>
        <div class="span3">
          <h3><small>1.4</small> 出力</h3>
          <img src="img/step1-4.png">
        </div>
      </div>
    </section>

    <section id="step2">
      <div class="page-header">
        <h2><small>Step2</small> TwinCalを使ってCSVをiCalendar形式に変換する</h2>
      </div>
      <div class="row">
        <div class="span12">
          <p><strong>下のフォームに</strong>Step1でダウンロードしたCSVを指定してください。</p>
          <form method="post" action="parse.rb" class="well form-inline" id="form1" enctype="multipart/form-data">
            <% if @has_error %>
              <p class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">×</a>
                CSVファイルに何か問題があるようです。
              </p>
              <script>
                $('html,body').animate({scrollTop: ($("p.alert:first").offset().top-100) }, 'slow');
              </script>
            <% end %>

            <input type="file" id="file" name="file" style="display: none;" class="validate required input-file">
            <div class="input-prepend">
              <a class="btn" onclick="$('#file').click();"><i class="icon-folder-open"></i></a>
              <span id="cover" class="input-xlarge uneditable-input" onclick="$('#file').click();"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-large" id="submit">Submit</button>
            <script type="text/javascript">
              $('#file').change(function() {
                $('#cover').html($(this).val());
              });
            </script>
          </form>
        </div>
      </div>
    </section>

    <section id="step3">
      <div class="page-header">
        <h2><small>Step3</small> Googleカレンダー・iCal にインポートする</h2>
      </div>
      <div class="row">
        <div class="span6">
          <h2>Googleカレンダーの場合</h2>
          <img src="img/step3-1.png">
          <ol>
            <li>「カレンダー設定 &gt; カレンダー」に行く。</li>
            <li>「新しいカレンダーの作成」をする。</li>
            <li>「カレンダーをインポート」をする。</li>
          </ol>
        </div>
        <div class="span6">
          <h2>iCalの場合</h2>
          <img src="img/step3-2.png">
          <img src="img/step3-3.png">
          <ol>
            <li>メニューから「ファイル &gt; 読み込む &gt; 読み込む」。</li>
            <li>ダウンロードした.icsファイルを選択。</li>
            <li>どのカレンダーにインポートするか聞かれるので、「新規カレンダー」を選択。</li>
          </ol>
        </div>
        <div class="span12 alert alert-info">
          <a class="close" data-dismiss="alert" href="#">×</a>
          <h4 class="alert-heading">Hint</h4>
          <span>何か不具合が起きるかもしれないので、新規作成したカレンダーにインポートすることを推奨します。</span>
        </div>
      </div>
    </section>

    <section id="tweets">
      <div class="page-header">
        <h1>Tweets</h1>
      </div>

      <p>TwinCalに関するTwitterのツイートをまとめました。(最終更新: 2014/04/25)</p>

      <div class="row">
        <div class="span6">
          <blockquote class="twitter-tweet"><p>新学期で教室がわからないみなさん、TwinCalをつかいましょう！！！！</p>&mdash; Yuji (@yuji_tsukuba) <a href="https://twitter.com/yuji_tsukuba/statuses/385210270567505920">October 2, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>TwinCalを使えば、こんなカレンダーがPCやスマホで見れるようになりますよ &#39;ω&#39; <a href="http://t.co/JZZmVXtyOt">pic.twitter.com/JZZmVXtyOt</a></p>&mdash; Yuji (@yuji_tsukuba) <a href="https://twitter.com/yuji_tsukuba/statuses/385211624178466816">October 2, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>先生の名前や単位数まで分かる <a href="http://t.co/jJHSqLblAr">pic.twitter.com/jJHSqLblAr</a></p>&mdash; Yuji (@yuji_tsukuba) <a href="https://twitter.com/yuji_tsukuba/statuses/385211814155259904">October 2, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>TwinCalめっちゃ良い。 大学院の授業も対応できてて優秀だ。 但し、月曜祝日とかの振替までは対応してない模様。<a href="https://twitter.com/gam0022">@gam0022</a></p>&mdash; あおみかん (@AknEp) <a href="https://twitter.com/AknEp/statuses/383056092432855040">September 26, 2013</a></blockquote>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

          <blockquote class="twitter-tweet"><p>Twincal使ってみた。これで開設科目一覧から教室を一々調べ上げる手間がいらなくなったんや...！（感涙）</p>&mdash; もねさん (@Moneto_Tk) <a href="https://twitter.com/Moneto_Tk/statuses/384516951604617218">September 30, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>TwinsからGoogleカレンダーやiCalの時間割を作るWebサービス「TwinCal」。教室番号や単位数をkDBから自動取得。 <a href="http://t.co/O9eAdDWrov">http://t.co/O9eAdDWrov</a> <a href="https://twitter.com/search?q=%23twincal&amp;src=hash">#twincal</a> <a href="https://twitter.com/gam0022">@gam0022</a>さんから これが便利すぎてヤバい</p>&mdash; だいちび@いわしお (@DaichiBee) <a href="https://twitter.com/DaichiBee/statuses/384678165483769857">September 30, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>TwinCal ｲｲﾈ！<a href="http://t.co/MFY2Yy04">http://t.co/MFY2Yy04</a></p>&mdash; こにたｎ@笛と伴奏の人 (@Koni_1st) <a href="https://twitter.com/Koni_1st/statuses/239008164635357184">August 24, 2012</a></blockquote>

          <blockquote class="twitter-tweet"><p>.<a href="https://twitter.com/gam0022">@gam0022</a> の本気 Twins を iCal 形式に変換 -&gt; TwinCal: <a href="http://t.co/Bl3fDJdF">http://t.co/Bl3fDJdF</a> <a href="https://twitter.com/search?q=%23zdkinfo&amp;src=hash">#zdkinfo</a></p>&mdash; Hirotaka Kawata /てくの (@hktechno) <a href="https://twitter.com/hktechno/statuses/241537405201555458">August 31, 2012</a></blockquote>

          <blockquote class="twitter-tweet"><p>あ、すごい、これ便利そう。情報委の <a href="https://twitter.com/gam0022">@gam0022</a>がつくったTwinsの授業割をiCal形式に変換できるサービス（今授業ないから意味ないけど。【TwinCal】<a href="http://t.co/7So5zgRe">http://t.co/7So5zgRe</a></p>&mdash; ものくろ (@monoqlo) <a href="https://twitter.com/monoqlo/statuses/241537518007382016">August 31, 2012</a></blockquote>

          <blockquote class="twitter-tweet"><p>さっきの時間割はこれ利用しました☆（ゝω・）vｷｬﾋﾟ <a href="http://t.co/EVBX4l2D">http://t.co/EVBX4l2D</a></p>&mdash; シュン (@shun_1218) <a href="https://twitter.com/shun_1218/statuses/242215523071451136">September 2, 2012</a></blockquote>

          <blockquote class="twitter-tweet"><p>TWINSの予定をGoogle Calenderに流しこむ際の便利ツール捕捉。 <a href="http://t.co/1juo0HUP">http://t.co/1juo0HUP</a></p>&mdash; Sota SAITO(あなわーる) (@anoworl) <a href="https://twitter.com/anoworl/statuses/247953121140174848">September 18, 2012</a></blockquote>

          <!--blockquote class="twitter-tweet"><p>個人情報に関する記述が見当たらないのが気になるけど使ってみたらめっちゃ便利ですた。 - TwinCal <a href="http://t.co/mwYeKEGi">http://t.co/mwYeKEGi</a> <a href="https://twitter.com/search?q=%23miteru&amp;src=hash">#miteru</a></p>&mdash; りせっしゅ (@resessh8) <a href="https://twitter.com/resessh8/statuses/277993388366766082">December 10, 2012</a></blockquote-->

          <blockquote class="twitter-tweet"><p>&quot;TwinCalとは、Twinsの時間割をiCalendar形式に変換し、 Googleカレンダー・iCalへのインポートをサポートするWebサービスです。&quot; - TwinCal <a href="http://t.co/It045YyJ">http://t.co/It045YyJ</a> <a href="https://twitter.com/search?q=%23miteru&amp;src=hash">#miteru</a></p>&mdash; Shinnosuke TAKEDA (@cnosuke) <a href="https://twitter.com/cnosuke/statuses/278501409798901760">December 11, 2012</a></blockquote>

          <blockquote class="twitter-tweet"><p>素晴らしい RT <a href="https://twitter.com/gam0022">@gam0022</a>: Twinsの履修情報をGoogleカレンダーなどにエクスポートするアプリを作りました。 <a href="http://t.co/qSpoZTEtUI">http://t.co/qSpoZTEtUI</a> <a href="https://twitter.com/search?q=%23twincal&amp;src=hash">#twincal</a></p>&mdash; もちょい (@mobasic) <a href="https://twitter.com/mobasic/statuses/325239794466701312">April 19, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>twincal神かな？</p>&mdash; ざんよー (@zanyou_tsukuba) <a href="https://twitter.com/zanyou_tsukuba/statuses/384671916302139392">September 30, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>TwinCal便利すぎて泣ける</p>&mdash; 白亜の吟遊詩人ミッチー (@mikkun0124_b) <a href="https://twitter.com/mikkun0124_b/statuses/389968298710155264">October 15, 2013</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>学生のときにほしかった / TwinsからGoogleカレンダーやiCalの時間割を作るWebサービス「TwinCal」。教室番号や単位数をKdBから自動取得。 <a href="http://t.co/zZJ93zXaVt">http://t.co/zZJ93zXaVt</a> <a href="https://twitter.com/search?q=%23twincal&amp;src=hash">#twincal</a></p>&mdash; ishkawa (@_ishkawa) <a href="https://twitter.com/_ishkawa/statuses/408069066927009792">2013, 12月 4</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>Twincal, 非常に良い (Google カレンダーが埋まったのを見て悲しくなった)</p>&mdash; おしょーゆ (スク水ニーソ女子小学生) (@0x_osyoyu) <a href="https://twitter.com/0x_osyoyu/statuses/454288771286966272">April 10, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>Twincalでで予定をGcalへぶっこんだ</p>&mdash; すごいあじくんみんなでおごろう (@sadi_gear) <a href="https://twitter.com/sadi_gear/statuses/454288527333666817">April 10, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p><a href="https://twitter.com/Itsuki_sensei">@Itsuki_sensei</a> twincalすごくないすか！</p>&mdash; こふすけ (@kikukoooo) <a href="https://twitter.com/kikukoooo/statuses/454280285887016961">April 10, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>さてさて、TwinCalちゃんを使うかね</p>&mdash; こにたn＠tkb (@Koni_2nd) <a href="https://twitter.com/Koni_2nd/statuses/454269507444301824">April 10, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>とりあえずtwincalで授業登録した</p>&mdash; がーしー (@GaaaaaSiiiii) <a href="https://twitter.com/GaaaaaSiiiii/statuses/454257860533166080">April 10, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>twincal感動((遅い</p>&mdash; みぞ@ハンネ迷走中 (@loosesummer) <a href="https://twitter.com/loosesummer/statuses/455280301632004096">April 13, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>Twincal便利！coinsの先輩ありがとう</p>&mdash; 磁石sn (@shimpe6) <a href="https://twitter.com/shimpe6/statuses/455006762429472768">April 12, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>twincal使いやすい</p>&mdash; せーごー (@shihao18) <a href="https://twitter.com/shihao18/statuses/454642669956780032">April 11, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>TwinCalできたきがする</p>&mdash; ちゃんゆの@キャベツbot (@YU_know22) <a href="https://twitter.com/YU_know22/statuses/454541919289217024">April 11, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>twincalいいぞ～</p>&mdash; enough (@made_up_123) <a href="https://twitter.com/made_up_123/statuses/454538637879693312">April 11, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>TwinCal授業の場所も登録してくれるから便利</p>&mdash; キー (@kisk0803) <a href="https://twitter.com/kisk0803/statuses/455316447363756032">April 13, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>twincal導入した(今更)</p>&mdash; せきもりこ (@axelerator322) <a href="https://twitter.com/axelerator322/statuses/458837356582154241">2014, 4月 23</a></blockquote>

        </div>

        <div class="span6">
          <blockquote class="twitter-tweet"><p><a href="https://twitter.com/T_K_unknown">@T_K_unknown</a> 科目データベースから情報引っ張ってきてGoogleカレンダーに教室とか時間とか入れてくれるすぐれものアプリ。 <a href="http://t.co/K2V5m5BeDM">http://t.co/K2V5m5BeDM</a></p>&mdash; ざんよー (@zanyou_tsukuba) <a href="https://twitter.com/zanyou_tsukuba/statuses/384679953532338176">September 30, 2013</a></blockquote>


          <blockquote class="twitter-tweet"><p>明日から授業なのに教室調べてない人におすすめ。 TwinsからGoogleカレンダーやiCalの時間割を作るWebサービス「TwinCal」。教室番号や単位数をkDBから自動取得。 <a href="http://t.co/K2V5m5BeDM">http://t.co/K2V5m5BeDM</a> <a href="https://twitter.com/search?q=%23twincal&amp;src=hash">#twincal</a></p>&mdash; ざんよー (@zanyou_tsukuba) <a href="https://twitter.com/zanyou_tsukuba/statuses/384680403748917248">September 30, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>twincal確かに便利だなーすごい</p>&mdash; フジケン (@photolife23kf) <a href="https://twitter.com/photolife23kf/statuses/384683234912505856">September 30, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>TwinsからGoogleカレンダーやiCalの時間割を作るWebサービス「TwinCal」。教室番号や単位数をkDBから自動取得。 <a href="http://t.co/mpDphXYvHD">http://t.co/mpDphXYvHD</a> <a href="https://twitter.com/search?q=%23twincal&amp;src=hash">#twincal</a></p>&mdash; ひらた (@psephopaiktes6) <a href="https://twitter.com/psephopaiktes6/statuses/384908074604982273">October 1, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>TwinCalで秋学期の時間割をiCalにぶち込んだ。鬼便利すぎる。 <a href="http://t.co/1zyULmZsdE">http://t.co/1zyULmZsdE</a> <a href="https://twitter.com/search?q=%23%E3%82%B9%E3%83%86%E3%83%AB%E3%82%B9%E3%83%9E%E3%83%BC%E3%82%B1%E3%83%86%E3%82%A3%E3%83%B3%E3%82%B0&amp;src=hash">#ステルスマーケティング</a></p>&mdash; resessh (@resessh7) <a href="https://twitter.com/resessh7/statuses/384502559848669185">September 30, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p><a href="https://twitter.com/gam0022">@gam0022</a> Twincal使用させて頂きました。非常に便利なアプリで助かりました。現時点で振替授業への対応は行われていないようなのですが、今後実装する予定などございますでしょうか。&#10;振替授業の日程は学年暦にて公開されています。 &#10;<a href="http://t.co/iEBBuEoYoh">http://t.co/iEBBuEoYoh</a></p>&mdash; 田井中海人 from STAR☆ANIS (@tainakanchu) <a href="https://twitter.com/tainakanchu/statuses/326001713024741376">April 21, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>TwinCal神サービスだった</p>&mdash; linerlock (@linerlock) <a href="https://twitter.com/linerlock/statuses/326006162166259712">April 21, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>TwinCal シラバスへのリンクも出力されないかなとか思ったけど，ほとんどの学類はKDBへのリンクしか貼ってないんだな…</p>&mdash; kazu@ｷﾘﾝｻﾝ!! (@kazuzac) <a href="https://twitter.com/kazuzac/statuses/348698835972927488">June 23, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>【新学期】TWINSでの履修情報から，iCal形式のカレンダーを自動生成するWebサービス <a href="http://t.co/mmpQo4IE30">http://t.co/mmpQo4IE30</a> 【TwinCal】&#10;PC，スマホの各カレンダーアプリ等にそのままインポートできますよ！&#10;授業の場所、先生の名前、単位数まで載ってます！</p>&mdash; Yuji (@yuji_tsukuba) <a href="https://twitter.com/yuji_tsukuba/statuses/352083099414302720">July 2, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>Twinsに登録した時間割をGoogleカレンダーやiCalにインポートするWebサービス「TwinCal」 <a href="http://t.co/azAOfr6ezX">http://t.co/azAOfr6ezX</a> <a href="https://twitter.com/search?q=%23twincal&amp;src=hash">#twincal</a> 試しにやってみたけど、これ使えるべ。</p>&mdash; ふぁっきゅーきなこChan (@edamamekinako) <a href="https://twitter.com/edamamekinako/statuses/352583148648931328">July 4, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>.<a href="https://twitter.com/gam0022">@gam0022</a>が作ったTwinsの時間割をiCalendar形式に変換するアプリ（｀・ω・´） 【twincal】 <a href="http://t.co/cD7y5ssj">http://t.co/cD7y5ssj</a></p>&mdash; ちょこぷよ(氷点の足戦士) (@chocopuyo) <a href="https://twitter.com/chocopuyo/statuses/241537932408803328">August 31, 2012</a></blockquote>

          <blockquote class="twitter-tweet"><p>gam0022++</p>&mdash; 吉村　優 (@_yyu_) <a href="https://twitter.com/_yyu_/statuses/325836183894638592">April 21, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>Twinsに登録した時間割をGoogleカレンダーやiCalにインポートするWebサービス「TwinCal」 <a href="http://t.co/8b8pjg3SVj">http://t.co/8b8pjg3SVj</a> <a href="https://twitter.com/search?q=%23twincal&amp;src=hash">#twincal</a> <a href="https://twitter.com/gam0022">@gam0022</a>さんから</p>&mdash; HALTMAN (@c_plus_c) <a href="https://twitter.com/c_plus_c/statuses/325998090656043010">April 21, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p><a href="http://t.co/5NSYwcugEr">http://t.co/5NSYwcugEr</a>&#10;置いときますね。</p>&mdash; びしぉ〜じぉ (@Nymphium) <a href="https://twitter.com/Nymphium/statuses/384638751999160320">September 30, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>学生さん向けのGoogleカレンダーの時間割サービスがある / “TwinCal” <a href="http://t.co/mAFDgeaV5i">http://t.co/mAFDgeaV5i</a></p>&mdash; クロネコ (@96neko) <a href="https://twitter.com/96neko/statuses/382492224803446784">September 24, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p>twincalでgooogleカレンダー同期して、そのデータをエクスポートして時間割アプリに突っ込んだ&#10;詳細はカレンダーで、さっと確認するときは時間割アプリで&#10;goodだ</p>&mdash; arisua4 (@arisua4) <a href="https://twitter.com/arisua4/statuses/387202055909036034">October 7, 2013</a></blockquote>

          <blockquote class="twitter-tweet"><p><a href="https://twitter.com/gam0022_tkb">@gam0022_tkb</a> twincalめっちゃ便利！&#10;これは良い！時間割アプリあったけど消した！</p>&mdash; Shunya Ueta (@hurutoriya) <a href="https://twitter.com/hurutoriya/statuses/392178872801689601">October 21, 2013</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>これ大学時代欲しかった。ゴイスー / TwinsからGoogleカレンダーやiCalの時間割を作るWebサービス「TwinCal」。教室番号や単位数をKdBから自動取得。 <a href="http://t.co/DWAtBX9czA">http://t.co/DWAtBX9czA</a> <a href="https://twitter.com/search?q=%23twincal&amp;src=hash">#twincal</a> <a href="https://twitter.com/gam0022">@gam0022</a>さんから</p>&mdash; ほんとは超いそがし松 (@himara2) <a href="https://twitter.com/himara2/statuses/407906372747939840">2013, 12月 3</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>TwinCalすごい。</p>&mdash; キョメスケ (@Kyomesuke3) <a href="https://twitter.com/Kyomesuke3/statuses/454200968016449536">April 10, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>Twincal+スマホがおすすめです　&#10;<a href="http://t.co/9LwiU4ARF6">http://t.co/9LwiU4ARF6</a></p>&mdash; ヤキモチストリーマー (@hid_alma1026) <a href="https://twitter.com/hid_alma1026/statuses/454156657136644096">April 10, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>Twincal使って1限の教室で確認すればいいんじゃ</p>&mdash; 321-2@夜行性 (@mittyanya_i) <a href="https://twitter.com/mittyanya_i/statuses/454138233975091202">April 10, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>TWINCALいけそう（小並）　<a href="https://twitter.com/search?q=%23itf14_orientation&amp;src=hash">#itf14_orientation</a></p>&mdash; すごいあじくんみんなでおごろう (@sadi_gear) <a href="https://twitter.com/sadi_gear/statuses/454138023362322432">April 10, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>TWINCAL 強い <a href="https://twitter.com/search?q=%23itf14_orientation&amp;src=hash">#itf14_orientation</a></p>&mdash; こば@coins14男子 (@KOBA789) <a href="https://twitter.com/KOBA789/statuses/454137842097070081">April 10, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>KDB&#10;DRIDGE&#10;TWINCAL&#10;がお役立ち&#10;<a href="https://twitter.com/search?q=%23itf14_orientation&amp;src=hash">#itf14_orientation</a></p>&mdash; すごいあじくんみんなでおごろう (@sadi_gear) <a href="https://twitter.com/sadi_gear/statuses/454137116532809729">April 10, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p><a href="https://twitter.com/Pierre_Keita">@Pierre_Keita</a> twincalで検索</p>&mdash; キー (@kisk0803) <a href="https://twitter.com/kisk0803/statuses/455508921252188160">April 14, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>TwinsからGoogleカレンダーやiCalの時間割を作るWebサービス「TwinCal」。教室番号や単位数をKdBから自動取得。 <a href="http://t.co/ziKzfy8zIv">http://t.co/ziKzfy8zIv</a> <a href="https://twitter.com/search?q=%23twincal&amp;src=hash">#twincal</a> <a href="https://twitter.com/gam0022">@gam0022</a>さんから&#10;シラバスを持ち歩くことから解放された。</p>&mdash; 19歳JD(1パコ=2.99ドル) (@nesouda) <a href="https://twitter.com/nesouda/statuses/455497033311199232">April 14, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>やるな、TWINCAL</p>&mdash; やーすみ氏 (@tkb_sm) <a href="https://twitter.com/tkb_sm/statuses/455452471897255938">April 13, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>TwinCal便利すぎる。マジで時間割とか部屋とかわかるやん</p>&mdash; 谷島拓実 (@coolreikun0105) <a href="https://twitter.com/coolreikun0105/statuses/455345950848872449">April 13, 2014</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>便利　Now Browsing: TwinCal - <a href="http://t.co/4UuphzN7na">http://t.co/4UuphzN7na</a></p>&mdash; なわてぃー (@sakuna63) <a href="https://twitter.com/sakuna63/statuses/459480160723402752">2014, 4月 24</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>TwinCalまじ神</p>&mdash; かんの (@jabi_java_jabi) <a href="https://twitter.com/jabi_java_jabi/statuses/484490271787212800">2014, 7月 3</a></blockquote>

          <!--blockquote class="twitter-tweet" lang="ja"><p>iTsukubaは時間割機能強くしていくしかないかと思ったところですごい時間割とかTwinCalの存在を思い出して没になる</p>&mdash; れくにゃん (@xrekkusu) <a href="https://twitter.com/xrekkusu/statuses/459382803251990528">2014, 4月 24</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>えりたんで教室探すよりTwincal使って時間割をケータイのカレンダーに同期させたほうがいいかと</p>&mdash; 蛙@クドゥンチュ (@mikkun0124_b) <a href="https://twitter.com/mikkun0124_b/statuses/459122012611284992">2014, 4月 24</a></blockquote>

          <blockquote class="twitter-tweet" lang="ja"><p>iTsukubaよりTwinCalのが便利！！</p>&mdash; こにたｎ@伴奏やりたい病の人 (@Koni_1st) <a href="https://twitter.com/Koni_1st/statuses/454475310323351552">2014, 4月 11</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

          <blockquote class="twitter-tweet" lang="ja"><p>TwinCal(学生のためのアプリ開発コンテストVer.) <a href="https://twitter.com/search?q=%23ruby&amp;src=hash">#ruby</a> <a href="http://t.co/WRtn5F58qQ">http://t.co/WRtn5F58qQ</a> <a href="https://twitter.com/SlideShare">@SlideShare</a>さんから&#10;&#10;これか　自分が考えることはだいたい先人がもうやってる</p>&mdash; zokweiron (@weiweiweiron) <a href="https://twitter.com/weiweiweiron/statuses/456446091970359296">2014, 4月 16</a></blockquote-->

        </div>
      </div>
    </section>

    <section id="faq">
      <div class="page-header">
        <h1>FAQ</h1>
      </div>

      <div class="well">
        <h4><span class="label label-warning">Q.</span> カレンダーが空で出力される</h4>
        <p><span class="label label-info">A. </span> 原因は色々考えられます。下の3つを確認してください。
          <ol>
            <li>Twinsでは選択されたモジュールのCSVが出力されるので、目的のモジュールを選択した状態でCSV出力をしてください。</li>
            <li>集中など時間の分からない科目はTwinCalは無視します。</li>
            <li>どうしても解決しない場合は、下の連絡先まで報告すると対応するかもしれません。</li>
          </ol>
        </p>
      </div>

      <div class="well">
        <h4><span class="label label-warning">Q.</span> 春Cの時間割を作ろうとしたら、通年の授業が重複して登録される</h4>
        <p><span class="label label-info">A. </span> Twinsで春CのCSVを出力すると通年科目も出力されてしまうのが原因です。好きな方の解決策を試してください。
          <ol>
            <li>ダウンロードしたCSVをテキストエディタで編集して通年の科目の行を消す。
              <li>カレンダー上で通年の科目を削除する。
              </ol>
            </p>
          </div>

          <div class="well">
            <h4><span class="label label-warning">Q.</span> 教室番号や担当教員、単位数はどこから取得しているのか?</h4>
            <p><span class="label label-info">A. </span> <a href="https://kdb.tsukuba.ac.jp/">KdB</a>から取得しています。</p>
          </div>

          <div class="well">
            <h4><span class="label label-warning">Q.</span> 個人情報はどう扱ってるのか?</h4>
            <p><span class="label label-info">A. </span> Twinsで出力したCSVをテキストエディタで開けばわかりますが、科目番号以外の情報は含まれていないので、
              個人を特定できるような情報は含まれていません。また、取得された情報がその他の目的で使用されることは一切ありません。</p>
          </div>

          <div class="well">
            <h4><span class="label label-warning">Q.</span> 祝日の振替や月曜授業には対応しているのか?</h4>
            <p><span class="label label-info">A. </span> 対応していませんが、今後のアップデートで対応するかもしれません。</p>
          </div>

        </section>


        <section id="attention">
          <div class="page-header">
            <h1>Attention</h1>
          </div>

          <ol>
            <li>TwinCalを利用した事によるいかなる損害も作者は一切の責任を負いません。自己の責任の上で使用して下さい。</li>
            <li>各モジュールの開始・終了日は<a href="http://www.tsukunavi.com/life/shinseikatsu2014/daigaku/schedule.html">ツクナビ</a>に準拠しています。
              必ず正しいという保証はありませんので、各担当の先生のアナウンスを確認するなど臨機応変に対応してください。</li>
          </ol>

        </section>

        <section id="updates">
          <div class="page-header">
            <h1>Updates</h1>
          </div>
          <div class="row">
            <div class="span6">
              <ul>
                <li>2012/08/14 TwinCalの公開を開始。</li>
                <li>2013/04/23 2学期制に対応。</li>
                <li>2013/06/03 FAQを追加。</li>
                <li>2013/09/20 Tweetsを追加。</li>
                <li>2014/04/02 2014年度の時間割に対応。</li>
              </ul>
            </div>
            <div class="span6">
              <p>KdBから科目情報を最後に同期した日: 2014/10/01</p> 
            </div>
          </div>
        </section>

        <section id="other">
          <div class="page-header">
            <h1>Other</h1>
          </div>
          <div class="row">
            <div class="span5 well" id="issues">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <p>
                <span class="label label-warning">Issues</span>
                何か問題があれば、@gam0022 まで連絡お願いします。
              </p>
              <p><a class="btn" href="https://twitter.com/gam0022">@gam0022 &raquo;</a></p>
            </div>
            <div class="span5 well" id="info">
              <a class="close" data-dismiss="alert" href="#">×</a>
              <p>
                <span class="label label-info">Info</span>
                リポジトリを GitHub で公開しています。
              </p>
              <p><a class="btn" href="https://github.com/gam0022/twincal2">GitHub &raquo;</a></p>
            </div>
          </div>
        </section>

        <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://gam0022.net/app/twincal/" data-text="TwinsからGoogleカレンダーやiCalの時間割を作るWebサービス「TwinCal」。教室番号や単位数をKdBから自動取得。" data-via="gam0022" data-lang="ja" data-hashtags="twincal">ツイート</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>

        <div class="fb-like" data-href="http://gam0022.net/app/twincal/" data-width="The pixel width of the plugin" data-height="The pixel height of the plugin" data-colorscheme="light" data-layout="button_count" data-action="like" data-show-faces="true" data-send="false"></div>

        <hr>

        <footer>
          <p>Copyright &copy; 2013-2014 がむ(@gam0022)</p>
        </footer>

      </div> <!-- /container -->

      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="js/bootstrap-transition.js"></script>
      <script src="js/bootstrap-alert.js"></script>
      <script src="js/bootstrap-modal.js"></script>
      <script src="js/bootstrap-dropdown.js"></script>
      <script src="js/bootstrap-scrollspy.js"></script>
      <script src="js/bootstrap-tab.js"></script>
      <script src="js/bootstrap-tooltip.js"></script>
      <script src="js/bootstrap-popover.js"></script>
      <script src="js/bootstrap-button.js"></script>
      <script src="js/bootstrap-collapse.js"></script>
      <script src="js/bootstrap-carousel.js"></script>
      <script src="js/bootstrap-typeahead.js"></script>

      <!-- Twitter -->
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

      <!--Facebook-->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>

  </body>
</html>
